.list{
    width: 60%;
    margin: 0 auto 0 auto;
    h2{
        text-align: start;
    }
    .topics{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: #757F9A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 1em;

    }
    .topic-button{
        border-radius: 1em;
        margin: 1em;
    }
    .questions{
        margin-top: 2em;
        table{
            width: 100%;
        }
        tr:nth-child(even){
            background-color: #f2f2f2;
        }
        td,th{
            border-bottom: 1px solid black; 
            padding: 1em;
        }
   
        font-family: 'Red Hat Display';
      
    }
}
