h1{
    font-family: 'Special Elite';
}

.template{
    display: flex;
    margin-top: 4em;
    .code{
        width: 50%;
        border-right: 2px solid rgb(209, 206, 206);
        input{
            margin: 1em auto 1em auto;
            width: 50%;
        }
    }
    .image{
        width: 50%;
    }
}

.login,.signup {
    form{
        margin: 1em;
    }
}

.slant-line{
    height: 1.3em;
    width: 100%;
    position: relative;
    top: 10em;
    background-color: rgb(140, 226, 247);
    transform: rotate(4deg)
}