.profile{
    display: flex;
    .personal-details{
        width: 20%;
        border-right: 2px solid black;
        text-align: start;
        margin: 2em;
        img{
            width: 50%;
            height: 50%;
            margin: 1em 0 1em 0;
            border-radius: 50%;
        }
     }
     
     .solved-questions{
        margin: 2em;
        h3{
            text-align: start;
        }
       width: 50%;
     }
}

